/* Mantine CSS is imported in layout.tsx */

/* Global box-sizing */
* {
  box-sizing: border-box;
}

/* Apply font variables to body */
body {
  font-family: var(--font-barlow), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
